---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="אודות"
	description="קצת עלי ועל הבלוג שלי"
>
	<p>
הבלוג הזה נולד מתוך הצורך לשתף, להביע ולחקור את הרעיונות, הדעות והרגשות שלי.<br />
ביום מין הימים אעזוב את העולם הזה ואין לדעת מתי זה יקרה. מה שבטוח - אני רוצה להשאיר אחריי חותם. בין אם זה דרך היצירות שלי, העשייה שלי או בזכרונות של אנשים אחרים.<br />
הבלוג הזה הוא המקום שמאפשר למחשבות שלי להישאר בעולם ואולי גם להשפיע על אחרים. <br />
ואולי, בין המחשבות והשיתופים שלי מישהו או מישהי ימצאו נחמה.
	</p>

	<p>
הבלוג הזה הוא לא רק מצבור של פתקים אלא פרויקט קטן שרציתי להקים במו ידיי.
כדי לעורר אותו לחיים השתמשתי בכלים הבאים:<br />

<ul>
<li><strong>Astro</strong> - טמפלייט מותאים לגיט .</li>
<li><strong>GitHub Pages & Git</strong> - בשביל האירוח היציב והשליטה בקוד.
<li><strong>Gemini</strong> - הכלי העיקרי שלי, משמש אותי לתיקון באגים, התאמות ומידע.
<li><strong>Base44</strong> - שימש לי כבסיס לעיצוב הראשוני.
</ul>
(הרשימה מתעדכנת בהתאם לצורך)
	</p>
	<p>
		שמחה שאתם כאן,<br />
		ליזה.
	</p>
</Layout>